// shared/components/header/header.scss
.site-logo {
    .first-name {
        
        color: #ffffff;
    }
    .last-name {
        
        color: #e87e7e;  // Ou ta couleur de marque
        margin-left: 2px;
    }
}

// shared/components/header/header.scss
.dropdown-menu {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 8px 0;
}

.dropdown.show .dropdown-menu,
.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 20px;
    clear: both;
    color: #333;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background: transparent;
    border: 0;
    cursor: pointer;
    
    &:hover {
        background: #000000;
        color: #e87e7e;
    }
}
