// shared/components/header/header.scss
.site-logo {
    .first-name {
        
        color: #ffffff;
    }
    .last-name {
        
        color: #e87e7e;  // Ou ta couleur de marque
        margin-left: 2px;
    }
}